<div class="component-header">
  <div class="row">
    <div class="col-md-8">
      <h3 class="m0">Projects</h3>
    </div>
    <div class="col-md-4">
      <div class="sidebar-search">
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" [(ngModel)]="searchedProject" (ngModelChange)="filterProject()" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="project-list">
  <div class="row">
    <div class="col-md-3" *ngFor="let project of visibleProject">
      <div class="project-list-container" [routerLink]="['/projects']">
        <h3 class="text-center">{{project.name}}</h3>
      </div>
    </div>
  </div>
</div>