<div class="row">
    <form class="col-md-6">
        <div class="form-group">
            <label for="serialNumber">Serial Number</label>
            <input type="text" class="form-control" id="serialNumber" />
        </div>
        <div class="form-group">
            <label for="testCaseId">Test Case Id</label>
            <input type="text" class="form-control" name="testCaseId" />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="defectId">Defect Id</label>
            <input type="text" class="form-control" />
        </div>
        <div class="form-group ">
            <label for="preCondition">Pre Condition</label>
            <textarea name="preCondition" class="form-control"></textarea>
        </div>
        <div class="form-group ">
            <label for="postCondition">Post Condition</label>
            <textarea name="postCondition" class="form-control"></textarea>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" /> Is Priority
            </label>
        </div>
    </form>
</div>