<div class="component-main">
  <div class="row component-header p0">
    <div class="col-md-7 ">

      <h3 class="m0">Project 1 Test cases</h3>
    </div>
    <div class="col-md-3">
      <div class="sidebar-search">
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-2 p0 text-right">
      <a class="btn btn-primary" [routerLink]="['create']">Create Test Case</a>
    </div>
  </div>
  <div class="row text-center">

    <div class="test-case-main project">
      <div class="x_panel tile overflow_hidden">
        <div class="x_title x_sub_title">
          <h2>Test Case 1</h2>
          <ul class="nav panel_toolbox">
            <li>
              <a class="collapse-link"><i class="fa fa-pencil"></i></a>
            </li>
            <li>
              <a class="close-link"><i class="fa fa-trash-o"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          Test Case 1 Desiption
        </div>
      </div>
    </div>
    <div class="test-case-main">
      <div class="x_panel tile overflow_hidden">

        <div class="x_title x_sub_title">
          <h2>Test Case 2</h2>
          <ul class="nav panel_toolbox">
            <li>
              <a class="collapse-link"><i class="fa fa-pencil"></i></a>
            </li>
            <li>
              <a class="close-link"><i class="fa fa-trash-o"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          Test Case 2 Desiption
        </div>
      </div>
    </div>
    <div class="test-case-main">
      <div class="x_panel tile overflow_hidden">
        <div class="x_title x_sub_title">
          <h2>Test Case 3</h2>
          <ul class="nav panel_toolbox">
            <li>
              <a class="collapse-link"><i class="fa fa-pencil"></i></a>
            </li>
            <li>
              <a class="close-link"><i class="fa fa-trash-o"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          Test Case 3 Desiption
        </div>
      </div>
    </div>
    <div class="test-case-main">
      <div class="x_panel tile overflow_hidden">
        <div class="x_title x_sub_title">
          <h2>Test Case 4</h2>
          <ul class="nav panel_toolbox">
            <li>
              <a class="collapse-link"><i class="fa fa-pencil"></i></a>
            </li>
            <li>
              <a class="close-link"><i class="fa fa-trash-o"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          Test Case 4 Desiption
        </div>
      </div>
    </div>
    <div class="test-case-main">
      <div class="x_panel tile overflow_hidden">
        <div class="x_title x_sub_title">
          <h2>Test Case 5</h2>
          <ul class="nav panel_toolbox">
            <li>
              <a class="collapse-link"><i class="fa fa-pencil"></i></a>
            </li>
            <li>
              <a class="close-link"><i class="fa fa-trash-o"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          Test Case 5 Desiption
        </div>
      </div>
    </div>
  </div>
</div>