/*common*/
.ml0 { margin-left: 0; }
.mt5 { margin-top: 5px; }
.ml230 { margin-left: 230px; }
.x_sub_title { border-bottom: 1px solid #E6E9ED; padding-bottom: 10px; }
.cursor-pointer { cursor: pointer; }

.dashboard .top_nav { margin-left: 0; }
.dashboard .toggle { display: none; }
.dashboard-container { width: 95%; margin: 0 auto; }
.project-list { margin-top: 20px; }
.project-list-container { cursor: pointer; min-height: 150px; box-shadow: 1px 2px 4px #ccc; }
.container-main { width: 83%; margin-left: 16.66666667%; padding: 15px; }
.container-main.dashboard { width: 100%; margin-left: 0; }
.nav.side-menu > li > a { border-left: 3px solid transparent; }
.nav.side-menu > li:hover > a, .nav.side-menu > li.active > a { color: #ffab00; font-weight: 500; background: #33495d; border-left: 3px solid #ffab00; }
.site_title, .site_title:hover, .site_title:focus { color: #ffab00; }
.nav.side-menu > li:hover .child_menu > li:hover > a { color: #ffab00; }
.nav-md ul.nav.child_menu li.active:before, .nav-md ul.nav.child_menu li:hover:before { background: #FF9800; }
.nav-md ul.nav.child_menu li.active:after, .nav-md ul.nav.child_menu li:hover:after { border-left: 1px solid #FF9800; }
.nav-md ul.nav.child_menu li.active a { color: #ffab00; }
