<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <environment names="Development">
    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/node_modules/hammerjs/hammer.min.js"></script>
    <script src="/systemjs.config.js"></script>

    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
  </environment>
</head>
<body class="nav-md">
  <environment names="Development">
    <script>
      System.import('/app/main').then(null, console.error.bind(console));
    </script>
    <my-app>Loading...</my-app>
  </environment>
  <environment names="Staging,Production">
    <script>window.module = "aot";</script>
    <script src="~/app/build.js"></script>
  </environment>
  <br />
 
  @*<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>*@
</body>
</html>