@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Test Case Management</title>
</head>
<body>
    <h1>Welcome to Test Case Management</h1>
    @Html.ActionLink("Login with Promact", "Dashboard")
</body>
</html>